

.word-rotate {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30em;
    height: 5em;
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
}
    .word-rotate li {
        color: #ffffff;
        font-family: Arial, sans-serif;
        height: 6em;
        position: absolute;
        bottom: 0;
        left: 300px;
        transition: all 0.5s;
    }